/*CARDS*/

@import "../base/variables";

section .card-ofertas{
    @include flex-text(flex, center, center,center);
    flex-wrap: wrap;
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        width: 240px;
        height: 340px;
        border: white solid 2px;
        border-radius: 10px;
        margin: 50px 60px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        .card-img{
            @include flex-text(flex, center, center,center);
            margin-top: 15px;
            max-width: 240px;
            height: 240px;
            background-color: rgb(19, 17, 17);
            .producto-img{
                max-width: 200px;
                max-height: 120px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .card-contenido{
            @include flex-text(flex, center, center,center);
            flex-wrap: wrap;
            h4{
                margin: 10px 0;
                color: white;
                font-size: 12px;
                line-break: normal;
                max-width: 180px;
            }
        }
        .card-precio{
            @include flex-text(flex, center, center,center);
            flex-direction: column;
            flex-wrap: wrap;
            color: white;
            margin-bottom: 10px;
            margin-top: 10px;
            .p_viejo{
                text-decoration: line-through;
            }
        }
        .card-link{
            @include flex-text(flex, center, center,center);
            margin-bottom: 30px;
            flex-wrap: wrap;
            a{
                background-color: #00c3ff;
                border-radius: 10px;
                color: white;
                font-size: 1em;
                padding: 5px;
            }
        }
    }
}