
/*MEDIA QUERYS*/




@media (max-width: 970px){
    .of_seccion{
        .of_container{
            .of_texto{
                p{
                    font-size: 15px;
                    b{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media(max-width:768px){
    /*NAV BAR */
    header{
        .logo__contenedor{
            .logo{
                display: flex;
                text-align: center;
            }
        }
        .buscador{
            display: none;
        }
        nav{
            .hamburger{
                display:block;
            }
            .hamburger.activo{
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(1){
                    transform: translateY(8px) rotate(45deg);
                }
                &:nth-child(3){
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
            .navi__menu{
                position: fixed;
                left: -100%;
                top: 70px;
                flex-direction: column;
                background-color: #19191a44;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                li{
                    margin: 0;
                    padding: 5px 0;
                }
            }
            .navi__menu.activo{
                left: 0;
            }
        }
    }

    
    /*HERO GRID*/
    .hero{
        #carouselExampleCaptions{
            display: none;
        }
        .grid-galeria{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
            margin: 20px 20px;
            grid-template-areas: 
            "img-1 img-4 img-2"
            "img-3 img-3 img-3";
            img{
                
                width: 100%;
                object-fit: cover;
            }
            .img-1{
                grid-area: img-1;
                height: 15vh;
                border-radius: 10px;
            }
            .img-2{
                grid-area: img-2;
                height: 15vh;
                border-radius: 10px;
            }
            .img-3{
                grid-area: img-3;
                border-radius: 10px;
            }
            .img-4{
                grid-area: img-4;
                height: 15vh;
                border-radius: 10px;
            }
        }
    }

    /*CARDS 768PX*/
    .ofertas{
        .cards{
            width: 25%;
            height: 300px;
            .card-img{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    /*FORM*/
    .form{
        form{
            .caja1{
                flex-direction: column;
                .item{
                    width: 100%;
                }
            }
            .form-btn{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                input{
                    margin-bottom: 10px;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 680px){
    .of_seccion{
        .of_container{
            .of_texto{
                p{
                    font-size: medium;
                    strong{
                        font-size: small;
                    }
                    b{
                        font-size: small;
                    }
                }
            }
        }
    }
}

/*FOOTER*/
@media screen and (max-width: 646px){
    .pie{
        .container{
            .pie__rows{
                .pie__links{
                    width: 25%;
                    ul{
                        li{
                            a{
                                font-size: 12px;
                            }
                        }
                    }
                    .redes{
                        a{
                            i{
                                height: 20px;
                                width: auto;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 551px){
    .of_seccion{
        .of_container{
            .of_texto{
                width: 100%;
                padding: 5px;
                p{
                    font-size: 10px;
                    b{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/*SCROLLER*/
@media  screen and (max-width: 550px ){
    section{
        .scroller{
            .marcas{
                img{
                    height: 55px;
                }
            }
        }
    }
}

@media  screen and (max-width: 440px ){
    section{
        .scroller{
            .marcas{
                flex-direction: row;
                img{
                    height: 35px;
                }
            }
        }
    }
}
/*Scroleer*/
@media screen and (max-width: 443px){
    .marcas{
        h2,span{
font-size: medium;            
        }
}
}

@media screen and (max-width: 347px){
    .marcas{
        h2,span{
font-size: small;            
        }
}
}

@media screen and (max-width:543px) {
    .categorias{
        h2,span{
            font-size: medium;
        }
    }
    
}

@media screen and (max-width:389px) {
    .categorias{
        h2,span{
            font-size: 13px;
        }
    }
    
}

/*CATEGORIAS*/
@media screen and (max-width:880px) {
    .cat-img{
        img{
            width: 125px;
        }
    }
    
}

@media screen and (max-width:754px) {
    .cat-img{
        img{
            width: 110px;
        }
    }
    
}

@media screen and (max-width:680px) {
    .cat-img{
        img{
            width: 90px;
        }
    }
    
}

@media screen and (max-width:580px) {
    .cat-img{
        img{
            width: 60px;
        }
    }
    
}

@media screen and (max-width:430px) {
    .cat-img{
        img{
            width: 45px;
        }
    }
    
}

@media screen and (max-width:354px) {
    .cat-img{
        img{
            width: 40px;
        }
    }
    
}

/*cards*/

@media screen and (max-width:720px) {
    .cards{
        width: 220px;
    }
    
}